@import '../helpers/_mixins.scss';

.menu{
  background: #000;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 17px 20px;
  height: 60px;

  h1 {
    margin: 0;
    color: #999;
    font-weight: 100;
  }

  .links {
    display: flex;
    width: auto;
    flex-grow: 1;

    a {
      color: #999;
      text-decoration: none;
      margin-left: 40px;
      font-family: $font-body;

      &:nth-child(2){
        margin-left: auto;
      }

      &.active {
        color: #fff;
      }

      .badge {
        margin-left: 8px;
        color: #a3d39c;
      }
    }
  }

  .menu_btn {
    display: none;
    border: 1px solid #fff;
    padding: 4px;
    margin-left: auto;

    * {
      background-color: #fff;
      width: 20px;
      height: 3px;
      &:nth-child(2){
        margin: 3px 0;
      }
    }
  }

  @media (max-width: #{$phablet}) {

    .links {
      position: absolute;
      background-color: #000;
      margin-top: 60px;
      top: 0;
      right: 0;
      flex-direction: column;
      justify-content: center;
      width: 260px;

      @include mobile {
        width: 100%;
      }

      a{
        width: 100%;
        margin: auto;
        padding: 5px 0;
        border-top: 1px solid #444;
        text-align: center;

        &:hover {
          background-color: rgba(255,255,255,.2);
        }
      }

      &.hidden {
        display: none;
      }
    }

    .menu_btn {
      display: block;
    }
  }

}